{% load static %}

<link rel="stylesheet" href="{% static 'featured_course_c.css' %}">

<div id="featured-course">
<div class="d-flex justify-content-between headline-container">
  <h2>Featured Courses</h2>
  <a href="">View all 
    <svg class="ms-1" width="10" height="16" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 17L9 9L1 1" stroke="#FFD143" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
</div>
     <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Course name</th>
            <th scope="col">Start</th>
            <th class="px-4" scope="col">Rating</th>
            <th scope="col">Type</th>
            <th scope="col">Bookmark</th>
          </tr>
        </thead>
        <tbody id = 'featured-course-container'>
        </tbody>
      </table>
</div>

<script src="{% static 'featured_course_c.js' %}"></script>