#student-profile {
  background-color: #f6f2dd;
  height: 100%;
  padding: 20px;
  border-radius: 25px;
  padding: 50px 20px;
}

#student-profile #student-profile-card .name {
  font-size: 36px;
  font-weight: 600;
  color: #121212;
  text-transform: lowercase;
  margin-top: 15px;
}

#student-profile #student-profile-card .role {
  font-size: 20px;
  font-weight: 500;
  color: #979ca5;
  text-transform: capitalize;
}

#student-profile #student-profile-card {
  border-bottom: #979ca5 1px solid;
  padding-bottom: 20px;
}

#student-profile #reminder-container .single-reminder {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}

#student-profile #reminder-container .single-reminder .title {
  font-size: 14px;
  font-weight: 700;
  color: #303030;
}
#student-profile #reminder-container .single-reminder .time {
  font-size: 12px;
  font-weight: 500;
  color: #bdbdbd;
  margin-top: -5px;
}

#student-profile #reminders .headline-container .headline {
  font-size: 22px;
  font-weight: 600;
  color: #121212;
  margin-top: 8px;
}
#student-profile #reminders .headline-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
