{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'student_overview.css' %}">
{% endblock style %}

{% block content %}
    <div id="student-overview">
        <div class="container-fluid">
                <div class="headline-container">
                    {% if request.user.is_authenticated %}
                    <h2 class="headline">Overview</h2>
                    <p class="sub-headline">Welcome back, {{request.user}} Your progress is really good. Keep it up</p>
                    {% else %}
                    <p class="sub-headline">Please login first  !</p>
                    {% endif%}
                </div>
         
            <div class="row">
                <div class="col-lg-9">
                    <div class="student-analytics-container">
                        {% include 'student_analytics_c.html' %}
                    </div>
                    <div class="featured-course-container">featured</div>
                </div>
                <div class="col-lg-3">student-profile</div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'student_overview.js' %}"></script>
{% endblock scripts %}
